html {
    color: navy;
    font-family: "Times New Roman";
    text-align: center;
}

svg {
        background-color: #F0E68C;
    }

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family:sans-serif;
    font-size:11px;
}





